*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-nav{
    height: 100vh;
    background-color: rgb(7, 76, 205);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.side-nav-open{
    width: 15%;
}.side-nav-close{
    width: 0%;
}
.page{
    width: 85%;
    background-color: #643e53;
    height: 100vh;
    margin-left: 15%;
    transition: 0.5s;
}
.page-open{
    width: 85%;
    margin-left: 15;
}
.page-close{
    width: 100%;
    margin-left: 0%;
}