*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-nav{
    height: 100vh;
    background-color: rgb(9, 49, 122);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.side-nav-open{
    width: 15%;
}.side-nav-close{
    width: 0%;
}
.page{
    width: 85%;
    background-color: #fafcee;
    height: 100vh;
    margin-left: 15%;
    transition: 0.5s;
}
.page-open{
    width: 85%;
    margin-left: 15;
}
.page-close{
    width: 100%;
    margin-left: 0%;
}
.side-nav button{
    color: #fff;
    box-shadow: none;
}
.side-nav ul{
    list-style: none;
}
.side-nav ul li{
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.side-nav ul li:hover, .active{
    color: rgb(234, 219, 159);
    border: 1px solid #fff;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
.category-h5{
    letter-spacing: 0.7px;
    color: rgb(161, 18, 139);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}